

{{> header_navbar}}




	 <div class="portfolio-modal" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div id="top" class="modal-content">

			<section id="detail_description">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h2>Coffi (iOS App)</h2> 
						<hr class="no-star">
						<a href="https://itunes.apple.com/de/app/coffi/id1100576473">
							<i class="fa fa-apple" aria-hidden="true"> App Store</i>
						</a>
						<img src="img/portfolio/coffi_icon.jpg" class="img-responsive img-centered" alt="">
						<p class="detail_description">Coffi is an app for connecting job seekers with employers looking to hire new employees. <br>
The app aims to both simplify the process of hiring as well as searching for jobs by connecting candidates with employer directly without a lengthy application process.<br>
Employers can quickly post jobs, with relevant information and necessary requirements for the ideal candidate. 
Furthermore, employers can send candidates a 'Coffi' invite to indicate their interest in hiring them. <br>						
Candidates can create a profile, browse jobs in their area and like jobs. <br>
In case of interest on either side, employers and candidates can chat with each other through the app. <br>
						</p>
					</div>
				</div>
			</section>

			<section id="detail_tech_stack">
				<h2>Tech Stack</h2>
				<hr class="no-star">
				{{#coffi_tech_list}}
				<h3 class="category">{{category}}</h3>
				<div class="row">
					<div class="col-xs-12 tech_stack_items">
						{{#items}}
						<div class="col-xs-4 col-md-2"  >
							<label class="item-boxed">{{title}}</label>
						</div>
						{{/items}}
					</div>
				</div>
				{{/coffi_tech_list}}
			</section>
    	</div>
	 </div>
    
  

{{> contact_footer}}