

{{> header_navbar}}




	 <div class="portfolio-modal" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div id="top" class="modal-content">

			<section id="detail_description">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h2>Coffi (iOS App)</h2> 
						<a href="https://itunes.apple.com/de/app/coffi/id1100576473">
							<i class="fa fa-apple" aria-hidden="true"> App Store</i>
						</a>
						<img src="img/portfolio/coffi_icon.jpg" class="img-responsive img-centered" alt="">
						<p>This app does this and that and then the app also does another thing hahahaThis app does this and that and then the app also does another thing hahaha
							This app does this and that and then the app also does another thing hahahaThis app does this and that and then the app also does another thing hahaha
							This app does this and that and then the app also does another thing hahahaThis app does this and that and then the app also does another thing hahaha
							This app does this and that and then the app also does another thing hahahaThis app does this and that and then the app also does another thing hahaha
							This app does this and that and then the app also does another thing hahahaThis app does this and that and then the app also does another thing hahaha
							This app does this and that and then the app also does another thing hahahaThis app does this and that and then the app also does another thing hahaha							
					</div>
				</div>
			</section>

			<section id="detail_tech_stack">
				<h2>Tech Stack</h2>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<h3>Objective-C</h3>
						<p>Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<h3>Node.js/Express</h3>
						<p>Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<h3>Sequelize</h3>
						<p>Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<h3>Redis</h3>
						<p>Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<h3>Swaggerize</h3>
						<p>Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<h3>Kraken</h3>
						<p>Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
							Yello this is iadao ad aldja. lldaYello this is iadao ad aldja. llda
						</p>
					</div>
				</div>
			</section>
    </div>
	 </div>
    
  

{{> contact_footer}}